project:
  type: website
  output-dir: docs

website:
  title: "evensoke.github.io"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd
      - portfolio.qmd

format:
  html:
    theme:
      - solar
      - brand
    css: styles.css
    toc: true

editor: visual

